.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span {
    font-size: 1rem
}

/* > means 'direct children' */

/* experienceBar's direct div */
.experienceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

/* the direct div child's div */
.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

/* exclusive span's className */
span.currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}
